@font-face { font-family: "Prelude-FLF"; src: url('../Fonts/PreludeFLF.ttf'); } 
body {
    color: black;
}
.jumbotron {
    padding: 190px 0;
    background-image: url('../Pics/background.jpg');
    background-size: cover;    
}
.jumbotron h1 {
    font-family: "Prelude-FLF" !important;
    font-size: 6rem;
}
.jumbotron hr {
    border-top: 2px solid black !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.jumbotron .container {
    width: 400px;
    background-color: white;
    outline: 10px solid white;
    border: 3px solid hotpink;
}
hr {
    border-top: 2px solid black !important;
    margin: 25px 0 !important;
}
.navbar {
    margin-bottom: 0;
    background-color: white;
    z-index: 9999;
    border: 0;    
    letter-spacing: 4px;
    border-radius: 0;
    min-height: 100px !important;
}
.navbar-nav > li > a,.navbar-nav {
    padding-top:20px !important; 
    padding-bottom:20px !important;
}
.navbar li a, .navbar .navbar-brand {
    color: black !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: grey !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;    
}
.navbar-toggle {
    margin-top: 25px;
    font-size: 30px;
}
.navbar-default .navbar-nav>.open>a:hover {
    background-color: white !important;
}
.nav .open>a:hover {
    background-color: white !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: white !important;
}
.navbar li a {
    background-color: white !important;
}
.logo {
    font-size: 30px;
    vertical-align: middle;
}
.social-media {
    margin: 5px 5px 15px 5px;
    width:30px;
    height:30px;
}
a.image-link:hover {
    text-decoration:none !important;
}
a.image-link {
    text-decoration:none !important;
}
.image-float-left {
    float: left;
    margin: 0px 10px 10px 0px;
}

.medium-font {
    font-size:15px;
}
.about-text {
    padding:50 px;
    text-align: justify;
}
.image-portfolio {
    padding: 20px;
}
.font-weight-bold {
    font-weight: bold;    
}
